@import "fancybox";
@import "slick-less";
@import "bootstrap";

@light: 300;
@regular: 400;
@500: 500;
@600: 600;
@bold: 700;
@800: 800;
@black: 900;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');


@Roboto: 'Roboto', sans-serif;


.b_a() {
  content: '';
  position: absolute;
}
.m_a() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex() {
  display: flex;
  display: -webkit-flex;
}
.j-center() {
  justify-content: center;
  -webkit-justify-content: center;
}
.j-beetween() {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.j-space-around() {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.j-end() {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.j-start() {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.ai-center() {
  align-items: center;
  -webkit-align-items: center;
}
.ai-start() {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.ai-end() {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.as-center() {
  align-self: center;
  -webkit-align-self: center;
}
.as-end() {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}
.as-start() {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}
.wrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col() {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@box-shadow) {
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
}

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
}

.transition(@transition_default) {
  transition: @transition_default;
  -webkit-transition: @transition_default;
  -moz-transition: @transition_default;
  -o-transition: @transition_default;
}

@transition_default: .3s linear;


@black:#171715;
@red:#FF0003;


body{
    font-size: 15px;
    font-family: @Roboto;
    color: @black;
    line-height: 2;
}

.container{
  max-width: 1200px;
}

*{
  outline: none;
}

a{
  .transition(@transition_default);
}


button, input, .form-control{
  outline: none;
}

button{
  cursor: pointer;
}


ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}


img, video{
  max-width: 100%;
}


.header_row{
  .flex();
  .ai-center();
  .wrap();
  margin-top: 38px;
  margin-bottom: 18px;
  @media (max-width:767px){
    margin-top: 15px;
    margin-bottom: 10px;
  }


  .header_col1{
    width: 30%;

    @media (max-width:767px){
      order:2;
      -webkit-order:2; width: 50%;
      padding-right: 15px;
    }
    @media (max-width:575px){
      padding-right: 7px;
    }

    p{
      font-size: 14px;
      margin-bottom: 0;    line-height: 1.3;font-weight: 500;
      @media (max-width:767px){
        font-weight: 400; font-size: 13px; line-height: 1.2;
      }
    }


    .dropdown{
      max-width: 160px;
      margin: 0 -15px 4px;
      @media (max-width:767px){
        margin: 0 -5px 2px;
      }
      &.show{
          background-color: rgb(255, 255, 255);
          //.box-shadow(0 3px 27px 0 rgba(0, 0, 0, 0.1));

        .phone_dropdown{
          &:before{
            .transform(rotate(-180deg));
          }
        }
      }
      .phone_dropdown{
        font-size: 14px;
        background: none;
        border:0;
        position: relative;
        padding-right: 27px;
        padding-left: 15px;
        color: @black;font-weight: 500;
        @media (max-width:767px){
          font-weight: 400; font-size: 13px;
          padding-left: 5px;
          padding-right: 15px;
        }
        &:hover, &:focus{
          box-shadow: none;
          outline: none;
        }
        &:before{
          .b_a();
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url(../img/next.png);
          width: 12px;
          height: 6px;
        }
      }

      .dropdown-menu{
          font-size: 14px;
        background-color: rgb(255, 255, 255);
        .box-shadow(0 3px 27px 0 rgba(0, 0, 0, 0.1));
        border:0;
        .border-radius(0);
        margin-top: 0;
        top: 0;
        transform: translate3d(0px, 0, 0px) !important;
        padding: 25px 0 0;
        background: none;
        @media (max-width:767px){
          font-size: 13px;
        }
        ul{
          background: #fff;
          padding-top: 3px;
          padding-bottom: 3px;
          li{
            padding-left: 15px;    line-height: 1.7;
            @media (max-width:767px){
              line-height: 1.5; padding-left: 5px;
            }
            a{
              color: @black;
              text-decoration: none;
            }
          }
        }
      }
    }


    .feedback{
     .flex();
      .ai-center();
      position: relative;
      font-size: 12px;
      font-weight: @600;
      color: @black;
      text-transform: uppercase;
      text-decoration: underline;
      @media (max-width:767px){
        font-size: 11px;
      }

      &:hover, &:focus{
        text-decoration: none;
      }
      .icon{
        display: inline-block;
        width: 25px;
        min-width: 25px;
        height: 25px;
        position: relative;
        background: @red;
        .border-radius(50%);
        margin-right: 12px;
        @media (max-width:767px){
          margin-right: 5px;
        }
        &:before{
          .b_a();
          .m_a();
          background: url(../img/telephone-handle-silhouette.png);
          width: 15px;
          height: 15px;
        }
      }
    }


  }
  .header_col2{
    width: 40%;
    .flex();
    .ai-center();
    .j-center();
    @media (max-width:767px){
      order:1;
      -webkit-order:1;
      width: 100%;
      margin-bottom: 15px;
    }

  }
  .header_col3{
    width: 30%;
    .flex();
    .wrap();
    .j-end();
    .ai-center();
    padding-left: 15px;

    @media (max-width:767px){
      order:2;
      -webkit-order:2; width: 50%;
    }

    @media (max-width:575px){
      padding-left: 7px;
    }

     >div{
       width: 100%;
       max-width: 280px;
     }


    .cart_link{
      .flex(); .ai-center();
      .j-end();
      .cart_icon{
        position: relative;
        min-width: 42px;
        margin-right: 20px;
        @media (max-width:767px){
          margin-right: 10px;
        }
        @media (max-width:575px){
          min-width: 32px;
        }
        .quantity{
          position: absolute;
          width: 17px;
          height: 17px;
          background: @red;
          .border-radius(50%);
          .flex();
          .ai-center();
          .j-center();
          font-size: 12px;
          color: #fff;
          top: 0;
          right: 0;
          @media (max-width:575px){
            font-size: 10px;
            width: 14px;
            height: 14px;
          }
        }
        img{
          @media (max-width:575px){
              max-width: 25px;
          }
        }
      }
      .text{
        line-height: 1.5;font-weight: 500;
        @media (max-width:767px){
          line-height: 1.3;font-weight: 400;
        }
        span{
          display: block;
          font-size: 15px;
          @media (max-width:767px){
            font-size: 13px;
          }
        }
      }
    }

    .search_block{
      width: 100%;
      max-width: 280px;
      margin-bottom: 12px;
      .search_form{
        .flex();
        .wrap();


        hr{
          width: 100%;
          margin: 0;
            border-top:1px solid rgb(155, 155, 155);
            .box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.14));

        }
        .form-control{
            width: calc(100% - 35px);
          height: 25px;
          border:0;
          text-align: center;
          color: @black;
          font-size: 13px;
          &:hover, &:focus{
            outline: none;
            box-shadow: none;
          }
          &::-webkit-input-placeholder{
            color: #969696;
            font-size: 13px;
            font-weight: 100;
          }
          &::-moz-placeholder{ color: #969696;
            font-size: 13px;
            font-weight: 100;}
          &::-ms-input-placeholder{ color: #969696;
            font-size: 13px;
            font-weight: 100;}
          &:-moz-placeholder{ color: #969696;
            font-size: 13px;
            font-weight: 100;}
          &:-ms-input-placeholder{ color: #969696;
            font-size: 13px;
            font-weight: 100;}
        }
        .search_btn{
          width: 35px;
          min-width: 35px;
          height: 25px;
          position: relative;
          background: none;
          border:0;
          &:before{
            .b_a();
            .m_a();
            background: url(../img/magnifying-glass-browser.png);
            width: 15px;
            height: 15px;
          }
        }
      }
    }


  }


  .header_col4{
    order:4;
    -webkit-order:4;
    width: 100%;
    margin-top: 10px;

    .mm_btn{
      .flex();
      .ai-center();
      .j-center();
      width: 100%;
      height: 30px;
      background: @red;
      > span{
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
      }
      .hamburger{
        position: relative;
        background: none;
        border:0;
        width: 25px;
        height: 16px;
        &:hover, &:focus{
          outline: none;
          box-shadow: none;
        }
        span{
          position: absolute;
          width: 100%;
          height: 2px;
          background: #fff;
          left: 0;
          &:nth-child(1){
            top: 0;
          }
          &:nth-child(2){
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:nth-child(3){
            bottom: 0;
          }
        }
      }
    }


    @media (min-width:768px){
      display: none;
    }
  }

}



.main_menu{



  @media (max-width:767px){
    opacity: 0;
    position: fixed;
    width: 80%;
    height: 100%;
    z-index: 99991;
    padding: 15px 15px 20px;
    right: 0;
    top: 0;
    margin-top: 0;
    background: @red;
    overflow: auto;
    .transition(@transition_default);
    .transform(translateX(100%));

    &.open{
      opacity: 1;
      .transform(translateX(0));
    }
  }



  .mm_close{

    width: 30px;
    height: 30px;
    position: relative;
    background: #fff;
    display: inline-block;

    &:before,&:after {
     .b_a();
      width: 18px;
      height: 1px;
      background: @red;
      .m_a();
    }
    &:before{
      .transform(rotate(45deg));
    }
    &:after{
      .transform(rotate(-45deg));
    }

    @media (min-width:768px){
      display: none;
    }
  }


  hr{
    margin: 0;
      border-top:1px solid rgb(23, 23, 21);
      .box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.26));
    @media (max-width:767px){
      display: none;
    }
  }

  .nav{
    width: 100%;
    @media (min-width:768px){
      .flex();
      .j-center();
      .ai-center();
    }
    li{
      @media (max-width:767px){
        width: 100%;
      }
      &.active{
        a{
          font-weight: bold;
        }
      }
      a{
        color: #373735;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 30px;
        @media (max-width:1200px){
          padding: 10px 15px;
        }
        @media (max-width:991px){
          padding: 10px 8px;
        }
        @media (max-width:767px){
          padding: 5px 0;
          color: #fff;
        }
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
  }


}